<section>
  <div>
    <a [routerLink]="['/home']" class="header-desc">VIDEO GAMES</a>
    <a [routerLink]="['/contact']" class="header-desc">
      <span class="header-title">CONTACT</span>CONTACT</a
    >
  </div>
</section>
<div class="center">
  <div class="container">
    <h3>GET IN TOUCH</h3>
    <p>
      The classic galactical adventure arrives on Nintendo Switch! The tyrant
      Lassic rules the cosmos, and it is up to you to defeat his evil reign.
    </p>
    <div class="form-set">
      <form action="#">
        <h3>Contact Form</h3>
        <div class="form-group">
          <div class="data data-left">
            <label>Name<span>*</span></label>
            <input type="text" required />
          </div>
          <div class="data data-right">
            <label>Email Address<span>*</span></label>
            <input type="text" required />
          </div>
        </div>

        <div class="data">
          <label>Message<span>*</span></label>
          <textarea rows="4" cols="53" name="comment" form="usrform"></textarea>
        </div>

        <div class="btn">
          <button type="submit">login</button>
        </div>
      </form>
    </div>
  </div>
</div>
